{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}	
    </title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'control' %}">Control</a></li>
            <li><a href="{% url "estadisticas" %}">Estadisticas</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock  %}
    {% block scripts %}
    {% endblock %}
</body>
</html>