{% extends "baseControl.html" %}
{% load static %}

{% block title %}Control de Servomotor{% endblock %}

{% block content %}
    <h1>Control de Servomotor</h1>
    
    <div id="camera_container">
        <h2>Video-Cámara de Brazo Robotico</h2>
        <!--<img id="videoStream" src="http://10.20.136.120:81/stream" alt="Video Stream">-->
        <div id="camera_controls">
            <label for="camera">Camara:</label>
            <input type="range" id="camera" name="camera" min="0" max="180" value="90">
            <button id="increment_camera" type="button">Incrementar</button>
            <button id="decrement_camera" type="button">Decrementar</button>
            <span id="anguloCam">{{ camera }}</span>
        </div>
    </div>

    <div id="radar_container">
        <h2>Radar de Brazo Robotico</h2>
        <!--<canvas id="radar" width="400" height="400"></canvas>-->
    </div>

    <div id="control_container">
        <h2>Control de Brazo Robotico</h2>
        <form method="get" id="form-control">
            <label for="base">Base:</label>
            <input type="range" id="base" name="base" min="0" max="180" value="90">
            <span id="anguloBas">{{ base }}</span>
    
            <label for="hombro">Hombro:</label>
            <input type="range" id="hombro" name="hombro" min="0" max="180" value="90">
            <span id="anguloHom">{{ hombro }}</span>
    
            <label for="Codo">Codo:</label>
            <input type="range" id="codo" name="codo" min="0" max="180" value="90">
            <span id="anguloCod">{{ codo }}</span>
    
            <label for="muneca">Muñeca:</label>
            <input type="range" id="muneca" name="muneca" min="0" max="180" value="90">
            <span id="anguloMun">{{ muneca }}</span>
    
            <label for="pinza">Pinza:</label>
            <input type="range" id="pinza" name="pinza" min="0" max="180" value="90">
            <span id="anguloPin">{{ pinza }}</span>

            <button id="forward" type="button">Adelante</button>
            <button id="backward" type="button">Atras</button>
            <button id="right" type="button">Derecha</button>
            <button id="left" type="button">Izquierda</button>

            <button id="reset" type="reset">Limpiar</button>
        </form>    
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/control.js" %}"></script>
{% endblock %}