{% extends "basePage.html" %}
{% load static %}

{% block title %}Desarrolladores:{% endblock %}


{% block content %}

<div class="titlepage">
   <h1 id= "tituloDesarrolladores">Desarrolladores:</h1>
   <texto><p id= "p1">Los desarrolladores de este proyecto son los estudiantes de segundo ciclo
   de la carrera de computación de la Universidad Nacional de Loja-Ecuador.</p></texto>
</div>

<div class="card-container">
   <div class="card">
      <figure><img src="https://i.ibb.co/7SD8pm9/danielS.jpg" alt="#"/></figure>
         <div class="card-text">
            <titlen><h3>Holguer Daniel Sánchez Valle</h3></titlen>
            <p>Estudiante Univesidad Nacional de Loja</p>
         </div>
   </div>

   <div class="card">
      <figure><img src="https://i.ibb.co/XSmdmxs/tuy.jpg" alt="#"/></figure>
         <div class="card-text">
            <titlen><h3>Alexis Vinicio Román Avila</h3></titlen>
                     <p>Estudiante Univesidad Nacional de Loja</p>
         </div>
   </div>
         
   <div class="card">
      <figure><img src="https://i.ibb.co/L01JwBx/IMG-20240221-070614-508.jpg" alt="#"/></figure>
         <div class="card-text">
            <titlen><h3>Manuel Benito Minga Chalán</h3></titlen>
            <p>Estudiante Univesidad Nacional de Loja</p>
         </div>
   </div>
      

   <div class="card">
            <figure><img src="https://i.ibb.co/zH36vNW/Imagen-de-Whats-App-2024-07-11-a-las-10-40-17-0b327c08.jpg" alt="#"/></figure>
               <div class="card-text">
                  <titlen><h3>Emilio Ramiro Jaramillo Chamba</h3></titlen>
                  <p>Estudiante Univesidad Nacional de Loja</p>
               </div>
   </div>
         
   <div class="card">
      <figure><img src="https://i.ibb.co/88TrgQh/iourt.jpg" alt="#"/></figure>
         <div class="card-text">
            <titlen><h3>Josue Rodolfo Torres Guiracocha</h3></titlen>
            <p>Estudiante Univesidad Nacional de Loja</p>
         </div>
   </div>        
</div>
   

    
{% endblock %}