{% extends "basePage.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock  %}

{% block styles %}
{% endblock  %}

{% block content %}
<h2 class = "margintitle">Implementacion de las materias impartidas en el ciclo</h2>
                <p>Los servomotores que hemos usado para el brazo robotico son:
                </p>
                <div class="glasses">
                    <div class="container">
                       <div class="row">
                          <div class="col-md-10 offset-md-1">
                             <div class="titlepage">
                                <h2 class = "margintitle">Implementacion de las materias impartidas en el ciclo</h2>
                                <p>Los servomotores que hemos usado para el brazo robotico son:
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="container-fluid">
                       <div class="row">
                          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                             <div class="glasses_box">
                                <h3><span class="blu">-</span>Programacion Orientada a Objetos</h3>
                                <p>Usamos los conocimientos de la materia para poder desarrollar los codigos para el manejo del brazo robotico y para la web de el proyecto.</p>
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                             <div class="glasses_box">
                                <h3><span class="blu">-</span>Diseño de Circuitos</h3>
                                <p>Usamos los conocimientos de la materia para diseñar los circuitos necesarios para alimentar el brazo robotico y sus componentes.</p>
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                             <div class="glasses_box">
                                <h3><span class="blu">-</span>Analisis Matemático</h3>
                                <p>Usamos los conocimientos de la materia para implementar en la lógica y en los detalles del brazo robotico.</p>
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                             <div class="glasses_box">
                                <h3><span class="blu">-</span>Teoría de la Distribución y Probabilidad</h3>
                                <p>Usamos los conocimientos de esta materia para la estadistica del proyecto.</p>
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                             <div class="glasses_box">
                                <h3><span class="blu">-</span>Emprendimiento e Innovacion Tecnologica</h3>
                                <p>utilizamos los conocimientos de esta materia para publicar el proyecto y tener una aceptacion buena.</p>
                             </div>
                          </div>
                          
                       </div>
                    </div>
                 </div>
                
            {% endblock %}