@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#logo {
    margin: 0 10px;
    width: 80%;
}

#menu-responsive {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#link-container {
    background-color: transparent;
    border-radius: 30px;
    height: 100%;
}

#nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin: 5px;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
    border-radius: 30px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.nav-item:hover {
    background-color: #379777;
    transform: translateY(-5px);
}

.nav-link {
    text-decoration: none;
    color: white;
}

#control {
    background-color: #088395;
    height: 40px;
    padding: 0px 15px;
}

#control:hover {
    background-color: #A9B1E1;
}

#control a {
    color: white;
}

#control a:hover {
    color: #202236;
}

.content {
    padding: 10px 10px 20px 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(124, 124, 124, 0.5);
    color: white;
    padding: 30px 0;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white; /* Asegura que el color del texto sea blanco, ya está definido pero lo incluyo por claridad */
}

#contacto-container {
    width: 90%;
    margin-bottom: 30px;
}

#contacto {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 
.contacto-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.contacto-item a {
    color: white;
    text-decoration: underline;
    margin-left: 10px;
}

ul {
    color: white;
}

imagen {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}   

imagen   img{
    max-width: 20%;
    max-height: 30%; 
    display: block;
    
    object-fit: cover;
}

.card-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.card{
    background-color:  #CED0E1;
    color: #000000;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
    padding: 10px;
}

p{
    color: black;
}

texto p{
    color: white;
}

titlen h3{
    color: black;
}


